    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./flaticon.eot");
  src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flaticon.woff") format("woff"),
       url("./flaticon.ttf") format("truetype"),
       url("./flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon2-ambulance-facing-left:before { content: "\f100"; }
.flaticon2-bicycle-sprockets:before { content: "\f101"; }
.flaticon2-big-ambulance-facing-left:before { content: "\f102"; }
.flaticon2-big-bus-front:before { content: "\f103"; }
.flaticon2-big-truck:before { content: "\f104"; }
.flaticon2-brand-new-car-with-dollar-price-tag:before { content: "\f105"; }
.flaticon2-bus-at-a-gasoline-station:before { content: "\f106"; }
.flaticon2-bus-front:before { content: "\f107"; }
.flaticon2-bus-front-view:before { content: "\f108"; }
.flaticon2-bus-in-reparation:before { content: "\f109"; }
.flaticon2-bus-with-a-compass:before { content: "\f10a"; }
.flaticon2-bus-with-compass:before { content: "\f10b"; }
.flaticon2-car-and-headphones:before { content: "\f10c"; }
.flaticon2-car-and-padlock:before { content: "\f10d"; }
.flaticon2-car-at-gas-station:before { content: "\f10e"; }
.flaticon2-car-battery:before { content: "\f10f"; }
.flaticon2-car-beacon-on:before { content: "\f110"; }
.flaticon2-car-crane:before { content: "\f111"; }
.flaticon2-car-for-sale:before { content: "\f112"; }
.flaticon2-car-front-in-magnifier-glass:before { content: "\f113"; }
.flaticon2-car-front-view-beside-a-traffic-meter:before { content: "\f114"; }
.flaticon2-car-in-a-garage:before { content: "\f115"; }
.flaticon2-car-in-a-gas-station:before { content: "\f116"; }
.flaticon2-car-inside-a-garage:before { content: "\f117"; }
.flaticon2-car-key:before { content: "\f118"; }
.flaticon2-car-lifter:before { content: "\f119"; }
.flaticon2-car-light:before { content: "\f11a"; }
.flaticon2-car-on-an-elevator:before { content: "\f11b"; }
.flaticon2-car-repair-check:before { content: "\f11c"; }
.flaticon2-car-repair-check-list:before { content: "\f11d"; }
.flaticon2-car-repairing:before { content: "\f11e"; }
.flaticon2-car-sale-in-euros:before { content: "\f11f"; }
.flaticon2-car-seat-belt:before { content: "\f120"; }
.flaticon2-car-speedometer:before { content: "\f121"; }
.flaticon2-car-steering-wheel:before { content: "\f122"; }
.flaticon2-car-temperature:before { content: "\f123"; }
.flaticon2-car-tire-change:before { content: "\f124"; }
.flaticon2-car-wash:before { content: "\f125"; }
.flaticon2-car-wash-machine:before { content: "\f126"; }
.flaticon2-car-wheel:before { content: "\f127"; }
.flaticon2-car-with-an-umbrella:before { content: "\f128"; }
.flaticon2-car-with-cogwheels:before { content: "\f129"; }
.flaticon2-car-with-euro-symbol:before { content: "\f12a"; }
.flaticon2-car-with-heat-problems:before { content: "\f12b"; }
.flaticon2-car-with-padlock:before { content: "\f12c"; }
.flaticon2-car-with-repair-equipment:before { content: "\f12d"; }
.flaticon2-car-with-umbrella:before { content: "\f12e"; }
.flaticon2-car-with-wrench:before { content: "\f12f"; }
.flaticon2-car-wrenc-and-cogwheels:before { content: "\f130"; }
.flaticon2-cargo-truck-facing-left:before { content: "\f131"; }
.flaticon2-cart-wheel:before { content: "\f132"; }
.flaticon2-change-car-oil:before { content: "\f133"; }
.flaticon2-changing-car-tire:before { content: "\f134"; }
.flaticon2-changing-wheels-tool:before { content: "\f135"; }
.flaticon2-convertible-car:before { content: "\f136"; }
.flaticon2-driving-gear-controls:before { content: "\f137"; }
.flaticon2-electric-car-and-plug:before { content: "\f138"; }
.flaticon2-emergency-car-facing-right:before { content: "\f139"; }
.flaticon2-emergency-medical-vehicle:before { content: "\f13a"; }
.flaticon2-fuel-counter:before { content: "\f13b"; }
.flaticon2-garage-elevator:before { content: "\f13c"; }
.flaticon2-gasoline-refilling-station:before { content: "\f13d"; }
.flaticon2-glass-wiper:before { content: "\f13e"; }
.flaticon2-jeep-front:before { content: "\f13f"; }
.flaticon2-jeep-front-view:before { content: "\f140"; }
.flaticon2-limousine-side-view:before { content: "\f141"; }
.flaticon2-lorry-side-view:before { content: "\f142"; }
.flaticon2-machine-connector-plug:before { content: "\f143"; }
.flaticon2-mechanical-service-of-a-car:before { content: "\f144"; }
.flaticon2-oil-can-with-big-drop:before { content: "\f145"; }
.flaticon2-pick-up-truck:before { content: "\f146"; }
.flaticon2-pistons-cross:before { content: "\f147"; }
.flaticon2-police-car-with-light:before { content: "\f148"; }
.flaticon2-police-car-with-lights:before { content: "\f149"; }
.flaticon2-police-car-with-steering-wheel:before { content: "\f14a"; }
.flaticon2-public-bus:before { content: "\f14b"; }
.flaticon2-rectangular-car:before { content: "\f14c"; }
.flaticon2-rectangular-car-front:before { content: "\f14d"; }
.flaticon2-red-cross-car:before { content: "\f14e"; }
.flaticon2-repair-mechanism:before { content: "\f14f"; }
.flaticon2-repair-wrenches:before { content: "\f150"; }
.flaticon2-repairing-bus:before { content: "\f151"; }
.flaticon2-repairing-car:before { content: "\f152"; }
.flaticon2-round-compass:before { content: "\f153"; }
.flaticon2-searching-for-car:before { content: "\f154"; }
.flaticon2-small-car:before { content: "\f155"; }
.flaticon2-taxi-facing-left:before { content: "\f156"; }
.flaticon2-taxi-side:before { content: "\f157"; }
.flaticon2-traffic-light:before { content: "\f158"; }
.flaticon2-transportation-truck:before { content: "\f159"; }
.flaticon2-triangular-tent:before { content: "\f15a"; }
.flaticon2-truck-side-view:before { content: "\f15b"; }
.flaticon2-truck-with-an-antenna-on-it:before { content: "\f15c"; }
.flaticon2-truck-with-crane:before { content: "\f15d"; }
.flaticon2-two-cogwheels:before { content: "\f15e"; }
.flaticon2-van-an-antenna:before { content: "\f15f"; }
.flaticon2-van-facing-left:before { content: "\f160"; }
.flaticon2-van-side-view:before { content: "\f161"; }
.flaticon2-water-tank-for-vehicles:before { content: "\f162"; }
.flaticon2-zipper:before { content: "\f163"; }

    $font-flaticon2-ambulance-facing-left: "\f100";
    $font-flaticon2-bicycle-sprockets: "\f101";
    $font-flaticon2-big-ambulance-facing-left: "\f102";
    $font-flaticon2-big-bus-front: "\f103";
    $font-flaticon2-big-truck: "\f104";
    $font-flaticon2-brand-new-car-with-dollar-price-tag: "\f105";
    $font-flaticon2-bus-at-a-gasoline-station: "\f106";
    $font-flaticon2-bus-front: "\f107";
    $font-flaticon2-bus-front-view: "\f108";
    $font-flaticon2-bus-in-reparation: "\f109";
    $font-flaticon2-bus-with-a-compass: "\f10a";
    $font-flaticon2-bus-with-compass: "\f10b";
    $font-flaticon2-car-and-headphones: "\f10c";
    $font-flaticon2-car-and-padlock: "\f10d";
    $font-flaticon2-car-at-gas-station: "\f10e";
    $font-flaticon2-car-battery: "\f10f";
    $font-flaticon2-car-beacon-on: "\f110";
    $font-flaticon2-car-crane: "\f111";
    $font-flaticon2-car-for-sale: "\f112";
    $font-flaticon2-car-front-in-magnifier-glass: "\f113";
    $font-flaticon2-car-front-view-beside-a-traffic-meter: "\f114";
    $font-flaticon2-car-in-a-garage: "\f115";
    $font-flaticon2-car-in-a-gas-station: "\f116";
    $font-flaticon2-car-inside-a-garage: "\f117";
    $font-flaticon2-car-key: "\f118";
    $font-flaticon2-car-lifter: "\f119";
    $font-flaticon2-car-light: "\f11a";
    $font-flaticon2-car-on-an-elevator: "\f11b";
    $font-flaticon2-car-repair-check: "\f11c";
    $font-flaticon2-car-repair-check-list: "\f11d";
    $font-flaticon2-car-repairing: "\f11e";
    $font-flaticon2-car-sale-in-euros: "\f11f";
    $font-flaticon2-car-seat-belt: "\f120";
    $font-flaticon2-car-speedometer: "\f121";
    $font-flaticon2-car-steering-wheel: "\f122";
    $font-flaticon2-car-temperature: "\f123";
    $font-flaticon2-car-tire-change: "\f124";
    $font-flaticon2-car-wash: "\f125";
    $font-flaticon2-car-wash-machine: "\f126";
    $font-flaticon2-car-wheel: "\f127";
    $font-flaticon2-car-with-an-umbrella: "\f128";
    $font-flaticon2-car-with-cogwheels: "\f129";
    $font-flaticon2-car-with-euro-symbol: "\f12a";
    $font-flaticon2-car-with-heat-problems: "\f12b";
    $font-flaticon2-car-with-padlock: "\f12c";
    $font-flaticon2-car-with-repair-equipment: "\f12d";
    $font-flaticon2-car-with-umbrella: "\f12e";
    $font-flaticon2-car-with-wrench: "\f12f";
    $font-flaticon2-car-wrenc-and-cogwheels: "\f130";
    $font-flaticon2-cargo-truck-facing-left: "\f131";
    $font-flaticon2-cart-wheel: "\f132";
    $font-flaticon2-change-car-oil: "\f133";
    $font-flaticon2-changing-car-tire: "\f134";
    $font-flaticon2-changing-wheels-tool: "\f135";
    $font-flaticon2-convertible-car: "\f136";
    $font-flaticon2-driving-gear-controls: "\f137";
    $font-flaticon2-electric-car-and-plug: "\f138";
    $font-flaticon2-emergency-car-facing-right: "\f139";
    $font-flaticon2-emergency-medical-vehicle: "\f13a";
    $font-flaticon2-fuel-counter: "\f13b";
    $font-flaticon2-garage-elevator: "\f13c";
    $font-flaticon2-gasoline-refilling-station: "\f13d";
    $font-flaticon2-glass-wiper: "\f13e";
    $font-flaticon2-jeep-front: "\f13f";
    $font-flaticon2-jeep-front-view: "\f140";
    $font-flaticon2-limousine-side-view: "\f141";
    $font-flaticon2-lorry-side-view: "\f142";
    $font-flaticon2-machine-connector-plug: "\f143";
    $font-flaticon2-mechanical-service-of-a-car: "\f144";
    $font-flaticon2-oil-can-with-big-drop: "\f145";
    $font-flaticon2-pick-up-truck: "\f146";
    $font-flaticon2-pistons-cross: "\f147";
    $font-flaticon2-police-car-with-light: "\f148";
    $font-flaticon2-police-car-with-lights: "\f149";
    $font-flaticon2-police-car-with-steering-wheel: "\f14a";
    $font-flaticon2-public-bus: "\f14b";
    $font-flaticon2-rectangular-car: "\f14c";
    $font-flaticon2-rectangular-car-front: "\f14d";
    $font-flaticon2-red-cross-car: "\f14e";
    $font-flaticon2-repair-mechanism: "\f14f";
    $font-flaticon2-repair-wrenches: "\f150";
    $font-flaticon2-repairing-bus: "\f151";
    $font-flaticon2-repairing-car: "\f152";
    $font-flaticon2-round-compass: "\f153";
    $font-flaticon2-searching-for-car: "\f154";
    $font-flaticon2-small-car: "\f155";
    $font-flaticon2-taxi-facing-left: "\f156";
    $font-flaticon2-taxi-side: "\f157";
    $font-flaticon2-traffic-light: "\f158";
    $font-flaticon2-transportation-truck: "\f159";
    $font-flaticon2-triangular-tent: "\f15a";
    $font-flaticon2-truck-side-view: "\f15b";
    $font-flaticon2-truck-with-an-antenna-on-it: "\f15c";
    $font-flaticon2-truck-with-crane: "\f15d";
    $font-flaticon2-two-cogwheels: "\f15e";
    $font-flaticon2-van-an-antenna: "\f15f";
    $font-flaticon2-van-facing-left: "\f160";
    $font-flaticon2-van-side-view: "\f161";
    $font-flaticon2-water-tank-for-vehicles: "\f162";
    $font-flaticon2-zipper: "\f163";