recursive-include doc *
recursive-include config *
recursive-include config *.*
recursive-include MitzonFrontend *
recursive-include scripts *
recursive-include scripts *.*
include *.bash
include *.txt
include *.md
exclude test/*
