	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ambulance-facing-left:before { content: "\f100"; }
.flaticon-bicycle-sprockets:before { content: "\f101"; }
.flaticon-big-ambulance-facing-left:before { content: "\f102"; }
.flaticon-big-bus-front:before { content: "\f103"; }
.flaticon-big-truck:before { content: "\f104"; }
.flaticon-brand-new-car-with-dollar-price-tag:before { content: "\f105"; }
.flaticon-bus-at-a-gasoline-station:before { content: "\f106"; }
.flaticon-bus-front:before { content: "\f107"; }
.flaticon-bus-front-view:before { content: "\f108"; }
.flaticon-bus-in-reparation:before { content: "\f109"; }
.flaticon-bus-with-a-compass:before { content: "\f10a"; }
.flaticon-bus-with-compass:before { content: "\f10b"; }
.flaticon-car-and-headphones:before { content: "\f10c"; }
.flaticon-car-and-padlock:before { content: "\f10d"; }
.flaticon-car-at-gas-station:before { content: "\f10e"; }
.flaticon-car-battery:before { content: "\f10f"; }
.flaticon-car-beacon-on:before { content: "\f110"; }
.flaticon-car-crane:before { content: "\f111"; }
.flaticon-car-for-sale:before { content: "\f112"; }
.flaticon-car-front-in-magnifier-glass:before { content: "\f113"; }
.flaticon-car-front-view-beside-a-traffic-meter:before { content: "\f114"; }
.flaticon-car-in-a-garage:before { content: "\f115"; }
.flaticon-car-in-a-gas-station:before { content: "\f116"; }
.flaticon-car-inside-a-garage:before { content: "\f117"; }
.flaticon-car-key:before { content: "\f118"; }
.flaticon-car-lifter:before { content: "\f119"; }
.flaticon-car-light:before { content: "\f11a"; }
.flaticon-car-on-an-elevator:before { content: "\f11b"; }
.flaticon-car-repair-check:before { content: "\f11c"; }
.flaticon-car-repair-check-list:before { content: "\f11d"; }
.flaticon-car-repairing:before { content: "\f11e"; }
.flaticon-car-sale-in-euros:before { content: "\f11f"; }
.flaticon-car-seat-belt:before { content: "\f120"; }
.flaticon-car-speedometer:before { content: "\f121"; }
.flaticon-car-steering-wheel:before { content: "\f122"; }
.flaticon-car-temperature:before { content: "\f123"; }
.flaticon-car-tire-change:before { content: "\f124"; }
.flaticon-car-wash:before { content: "\f125"; }
.flaticon-car-wash-machine:before { content: "\f126"; }
.flaticon-car-wheel:before { content: "\f127"; }
.flaticon-car-with-an-umbrella:before { content: "\f128"; }
.flaticon-car-with-cogwheels:before { content: "\f129"; }
.flaticon-car-with-euro-symbol:before { content: "\f12a"; }
.flaticon-car-with-heat-problems:before { content: "\f12b"; }
.flaticon-car-with-padlock:before { content: "\f12c"; }
.flaticon-car-with-repair-equipment:before { content: "\f12d"; }
.flaticon-car-with-umbrella:before { content: "\f12e"; }
.flaticon-car-with-wrench:before { content: "\f12f"; }
.flaticon-car-wrenc-and-cogwheels:before { content: "\f130"; }
.flaticon-cargo-truck-facing-left:before { content: "\f131"; }
.flaticon-cart-wheel:before { content: "\f132"; }
.flaticon-change-car-oil:before { content: "\f133"; }
.flaticon-changing-car-tire:before { content: "\f134"; }
.flaticon-changing-wheels-tool:before { content: "\f135"; }
.flaticon-convertible-car:before { content: "\f136"; }
.flaticon-driving-gear-controls:before { content: "\f137"; }
.flaticon-electric-car-and-plug:before { content: "\f138"; }
.flaticon-emergency-car-facing-right:before { content: "\f139"; }
.flaticon-emergency-medical-vehicle:before { content: "\f13a"; }
.flaticon-fuel-counter:before { content: "\f13b"; }
.flaticon-garage-elevator:before { content: "\f13c"; }
.flaticon-gasoline-refilling-station:before { content: "\f13d"; }
.flaticon-glass-wiper:before { content: "\f13e"; }
.flaticon-jeep-front:before { content: "\f13f"; }
.flaticon-jeep-front-view:before { content: "\f140"; }
.flaticon-limousine-side-view:before { content: "\f141"; }
.flaticon-lorry-side-view:before { content: "\f142"; }
.flaticon-machine-connector-plug:before { content: "\f143"; }
.flaticon-mechanical-service-of-a-car:before { content: "\f144"; }
.flaticon-oil-can-with-big-drop:before { content: "\f145"; }
.flaticon-pick-up-truck:before { content: "\f146"; }
.flaticon-pistons-cross:before { content: "\f147"; }
.flaticon-police-car-with-light:before { content: "\f148"; }
.flaticon-police-car-with-lights:before { content: "\f149"; }
.flaticon-police-car-with-steering-wheel:before { content: "\f14a"; }
.flaticon-public-bus:before { content: "\f14b"; }
.flaticon-rectangular-car:before { content: "\f14c"; }
.flaticon-rectangular-car-front:before { content: "\f14d"; }
.flaticon-red-cross-car:before { content: "\f14e"; }
.flaticon-repair-mechanism:before { content: "\f14f"; }
.flaticon-repair-wrenches:before { content: "\f150"; }
.flaticon-repairing-bus:before { content: "\f151"; }
.flaticon-repairing-car:before { content: "\f152"; }
.flaticon-round-compass:before { content: "\f153"; }
.flaticon-searching-for-car:before { content: "\f154"; }
.flaticon-small-car:before { content: "\f155"; }
.flaticon-taxi-facing-left:before { content: "\f156"; }
.flaticon-taxi-side:before { content: "\f157"; }
.flaticon-traffic-light:before { content: "\f158"; }
.flaticon-transportation-truck:before { content: "\f159"; }
.flaticon-triangular-tent:before { content: "\f15a"; }
.flaticon-truck-side-view:before { content: "\f15b"; }
.flaticon-truck-with-an-antenna-on-it:before { content: "\f15c"; }
.flaticon-truck-with-crane:before { content: "\f15d"; }
.flaticon-two-cogwheels:before { content: "\f15e"; }
.flaticon-van-an-antenna:before { content: "\f15f"; }
.flaticon-van-facing-left:before { content: "\f160"; }
.flaticon-van-side-view:before { content: "\f161"; }
.flaticon-water-tank-for-vehicles:before { content: "\f162"; }
.flaticon-zipper:before { content: "\f163"; }